:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*--------------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  color: white;
  padding: 10px;
  background-color: #772ce8;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.gv-center {
  display: block;
  text-align: center;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

small {
  margin: 0 0 15px;
}

.reactor > img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.line {
  display: block;
  height: 1px;
  background-color: #fff;
  margin: 10px 10px 0;
  opacity: 0.2;
}

#send-message-input {
  display: none;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #772ce8;
  width: 100%;
}

#reactors-list-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.8);
  z-index: 999999999;
}

#reactors-list-overlay.reactors-list-overlay-show {
  display: flex;
}

.reactors-list-wrapper {
  width: 280px;
  height: 250px;
  background-color: white;
  margin: auto;
  padding: 15px;
  color: black;
  overflow: auto;
}

.reactors-list-wrapper > p {
  margin-bottom: 15px;
}

#reactors-list-close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: transparent;
  color: white;
}

.reactors-list-content {
  list-style: none;
}

.reactor {
  margin-bottom: 15px;
  padding: 0 15px;
}

.reactor > span {
  margin-left: 10px;
}

.reactors-list-button {
  display: block;
  font-size: 14px;
  user-select: none;
  text-align: center;
  cursor: pointer;
}

#no-user-id {
  display: none;
}
